{%extends 'base.html'%}

{% block content %}
{{block.super}}
<div class="container">
    <div class="row">


    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 ">
      <br>
<button onclick="topFunction()" id="myBtn" title="Go to top">Go to top</button>
  <div id="lead">
    <div id="lead-content">
      <h1>Feisal Ibrrahim</h1>
      <div></div>
      <br>
      <br>
      <p>I'm Nairobi Area Based Full Stack Developer</p>
    </div>
  </div>
<h1>ooh no!! currently no more cool stuffs here</h1>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}























