{% load bootstrap3 %}
{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

    {% block styles %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% endblock %}

  </head>
  <body>

    {% include "navbar.html" %}
    {% block content %}

    {%endblock%}
{{% block script %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
         $(document).ready(function () {
           $('img').on('click', function () {
               var image = $(this).attr('src');
               //alert(image);
               $('#myModal').on('show.bs.modal', function () {
                   $(".showimage").attr("src", image);
               });
           });
        });
       <script type="text/javascript" src="{% static 'js/clipboard.min.js'%}"></script>
       <script type="text/javascript">
          var clipboard = new ClipboardJS('.btn');
          clipboard.on('success', function(e) {
              console.info('Action:', e.action);
              console.info('Text:', e.text);
              console.info('Trigger:', e.trigger);
              e.clearSelection();
          });
          clipboard.on('error', function(e) {
              console.error('Action:', e.action);
              console.error('Trigger:', e.trigger);
          });
       </script>
    {%endblock%}
  </body>
</html>