{%extends 'base.html'%}
{% block content %}

<div class="container">

    <div class="row">
      {%if location%}

        <h2>Location: {{location.location}}</h2>
        <hr>
        {%else%}
           <h2>Category: {{category.category}}</h2>
           <hr>
        {%endif%}

    </div>

    <div class="row">
      {%if images%}

    {%for image in images%}
         <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 ">

      <div class="modal fade" id="myModal-{{image.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">{{ image.image_name }}</h4>
          </div>
           <div class="card">
        <a href="#" class="thumbnail">
            <img src="{{image.image.url}}" alt="{{ image.image_name }}">
        </a>
          </div>
           <div class="container">
            <p>Image Details</p>
               <p>{{image.image_name}}</p>
              <p>{{image.description}}</p>
               image location:<p>{{image.location}}</p>
               image category:<p>{{image.category}}</p>
               posted on:<p>{{image.posted_time}}</p>


            </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>

          </div>
        </div>
      </div>
    </div>

         <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 ">

           <div class="hovereffect thumbnail">
              <img class="img-responsive" src="{{image.image.url}}" alt="">
              <div class="overlay">
                 <h2>{{ image.image_name }}</h2>
                <button> <a class="btn btn-sm btn-primary"  href="#" data-toggle="modal" data-target="#myModal-{{image.id}}">View image  details</a></button>
              </div>
          </div>
            <p> <a class="btn btn-sm btn-success" href="#" data-clipboard-text="http://localhost:8000{{image.image.url}}">Copy Image Link</a></p>

      </div>
    {%endfor%}
    {%else%}
      {%if location%}
        <h2>No Images in this location yet!</h2>
      {%else%}
        <h2>No Images in this category yet!</h2>
      {%endif%}
    {%endif%}

    </div>
</div>
</div>
<style>
   .thumbnail img{
    position: relative;
    width:  300px;
    height: 300px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
     border: 1px solid yellow;
      background: orange;
}
    .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

    .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
    .container {
    padding: 2px 16px;
}
/* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

</style>
{% endblock %}