{%extends 'base.html'%}
{% block content %}
{{block.super}}
<div class="container">

    <div class="row">

    {% for locations in location %}
         <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 ">

      <div class="modal fade" id="myModal-{{image.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">{{ locations.image_name }}</h4>
          </div>
           <div class="card">
        <a href="#" class="thumbnail">
            <img src="{{locations.image.url}}" alt="{{ locations.image_name }}">
        </a>
          </div>
           <div class="container">
            <p>Image Details</p>
              <p>{{locations.description}}</p>
            </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>

          </div>
        </div>
      </div>
    </div>

      <div class="col-md-3">

           <div class="hovereffect thumbnail">
              <img class="img-responsive" src="{{locations.image.url}}" alt="">
              <div class="overlay">
                 <h2>{{ locations.image_name }}</h2>
                <button> <a class="info" href="#" data-toggle="modal" data-target="#myModal-{{image.id}}">View details</a></button>
              </div>
          </div>
           <input class="form-control" type="text" id="copy"  value="http:127.0.0.1:8000{{locations.image.url}}">
          <p> <a class="btn btn-sm btn-success" onclick="myFunction()">Copy Image Link</a></p>

      </div>
    {%endfor%}

    </div>
</div>
    <script>
 function myFunction() {
   var text = document.getElementById("copy");
   text.select();
   document.execCommand("copy");

   var tooltip = document.getElementById("myTooltip");
   alert("Copied succesfully " );
 }
</script>
{% endblock %}